@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  /* --- Welcome Page Styles --- */
  body {
    color: rgb(255, 255, 255);
    font-family: Sans-Serif;
    line-height: 18px;
  }
 


  .wrapper {
    background: rgb(0, 0, 0);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 800px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
    text-align: center;
  }

 


  h1 {
    font-size: 76px;
    line-height: 24px;
    font-family: VT323; 
  }

 

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px
    text-algin: center;
  }

  .main {
    overflow: hidden;
  }

  .content {
   
    text-align: center;
  }


  .container {
    width: 450px;
  }

  .sidebar {
    background: black;
    border: 1px solid black;
    float: right;
    padding: 2.5%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
    height: fit-content;
    width : fit-content;
  }

  .sidebar ul {
    font-size: 14px;
  }

 

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    color: blue;
  }

  img {
    display: inline-block;
  }

  .sidebar li{
    display:inline;
  }
  .sidebar a{
    display:inline-block;
    padding:10px;
  }
}

nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

h1 { font-family: VT323; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: VT323; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: VT323; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: VT323; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: VT323; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }