<div class="container">

    <div class="content">
    <h2>Weight-Tracker Family</h2>
    <h3>All Users in the Weight Tracker Family:</h3>

    <% @users.each do |user| %>
      <p> <a href="/users/<%=user.id%>"> <%= user.name %> </a></p>
    <%end%>
    </div>

  </div>
</div>
