
<div class="container">
<div class="content">
    <h2>Weight-Tracker</h2>

 
     <p> | Please Sign-Up | </p>

<form class="" action="/signup" method="post"> 


    <label for="name"> | My name is | </label>
    <input type="text"  name="name"   value="">
    <br>

    <label for="email"> | Please Enter Your Email | </label>
    <input type="email"  name="email"   value="">
    <br>

    <label for="password"> | Please Enter Your Password | </label>
    <input type="password"  name="password"   value="">
    <br>

    <input type="submit" value=" | Sign-Up |">

</form>
</div>
</div>
  
