
<div class="container">
<div class="content">
   

 
     <p> | Please Sign-Up | </p>

<form class="" action="/signup" method="post"> 


    <label for="name"> | My name is | </label>
    <input type="text"  name="name"   value="" pattern="[a-zA-Z][a-zA-Z0-9-_.]{1,20}" placeholder=" Only letters are permitted"  >
    <br>

    <label for="email"> | Please Enter Your Email | </label>
    <input type="email"  name="email"   value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  placeholder="example@weightracker.com" >
    <br>

    <label for="password"> | Please Enter Your Password | </label>
    <input type="password"  name="password"   value="" placeholder="">
    <br>

    <input type="submit" value=" | Sign-Up |">

</form>
</div>
</div>
  
