<div class="container">
 <div class="content">
    <h1>Your Personal Weight Log</h1>

    <% @stats.each do |stat| %>
      <li><a href="/stats/<%=stat.id%>"> <%= stat.weight %> </a></li>
  <%end%>
  </div>
</div>
