<h3>Weight-Tracker</h3>



<div class="content">
 <p>| Please Enter New Weight Stat |</p>
<form class="" action="/stats/new" method="post"> 
<input type="number"  name="weight"   value="">
<br>
<br>
<input type="submit" value=" | Enter Weight |">

</form>
</div>
